<div class="p-grid">
  <div class="p-col-2">
    <img src="{{ product.images[0].path }}" alt="Product" />
  </div>
  <div class="p-col p-d-flex p-flex-column p-ai-start p-jc-between">
    <small class="p-mb-0">{{ product.category.toUpperCase() }}</small>
    <h2 class="p-my-0">{{ product.name }}</h2>
    <div class="p-flex">
      <button
        pButton
        pRipple
        class="p-button-text p-button-secondary p-pl-0"
        label="Remove"
        (click)="handleRemoveFromCart(product.firebaseId)"
      ></button>
      <a
        [routerLink]="['/product', product.firebaseId]"
        pButton
        pRipple
        class="p-button-text p-button-info p-pl-0 no-text-dec"
        label="Details"
      ></a>
    </div>
  </div>
  <div class="p-col-1 p-d-flex p-flex-column p-jc-center">
    <h3>${{ product.price }}</h3>
  </div>
  <div class="p-col-3 p-flex-column p-d-flex p-ai-end p-jc-center">
    <p-inputNumber
      [(ngModel)]="product.quantity"
      [min]="1"
      [max]="product.stock"
      showButtons="true"
      buttonLayout="horizontal"
      incrementButtonIcon="pi pi-plus"
      incrementButtonClass="p-button-text"
      decrementButtonIcon="pi pi-minus"
      decrementButtonClass="p-button-text"
      (onInput)="handleQuantity(product.firebaseId, $event.value)"
    ></p-inputNumber>
  </div>
</div>
