<h3>Filters</h3>
<p-accordion [multiple]="true">
  <p-accordionTab header="Category" [selected]="true">
    <div class="p-d-flex p-flex-column">
      <p-checkbox
        [(ngModel)]="selectedCategories"
        name="cat"
        value="laptop"
        label="Laptops"
        (onChange)="emitCategory()"
        styleClass="p-my-1"
      ></p-checkbox>
      <p-checkbox
        [(ngModel)]="selectedCategories"
        name="cat"
        value="tablet"
        label="Tablets"
        (onChange)="emitCategory()"
        styleClass="p-my-1"
      ></p-checkbox>
      <p-checkbox
        [(ngModel)]="selectedCategories"
        name="cat"
        value="smartphone"
        label="Smartphones"
        (onChange)="emitCategory()"
        styleClass="p-my-1"
      ></p-checkbox>
    </div>
  </p-accordionTab>
  <p-accordionTab header="Size">
    <div class="p-d-flex p-flex-column">
      <p-checkbox
        styleClass="p-my-1"
        (onChange)="emitSize()"
        [(ngModel)]="selectedSizes"
        name="size"
        value="11"
        label='11"'
      ></p-checkbox>
      <p-checkbox
        styleClass="p-my-1"
        (onChange)="emitSize()"
        [(ngModel)]="selectedSizes"
        name="size"
        value="12"
        label='12"'
      ></p-checkbox>
      <p-checkbox
        styleClass="p-my-1"
        (onChange)="emitSize()"
        [(ngModel)]="selectedSizes"
        name="size"
        value="13"
        label='13"'
      ></p-checkbox>
      <p-checkbox
        styleClass="p-my-1"
        (onChange)="emitSize()"
        [(ngModel)]="selectedSizes"
        name="size"
        value="14"
        label='14"'
      ></p-checkbox>
      <p-checkbox
        styleClass="p-my-1"
        (onChange)="emitSize()"
        [(ngModel)]="selectedSizes"
        name="size"
        value="15"
        label='15"'
      ></p-checkbox>
      <p-checkbox
        styleClass="p-my-1"
        (onChange)="emitSize()"
        [(ngModel)]="selectedSizes"
        name="size"
        value="17"
        label='17"'
      ></p-checkbox>
    </div>
  </p-accordionTab>
  <p-accordionTab header="Quantity">
    <h4>Selected: {{ quantity }}</h4>
    <input
      type="number"
      pInputText
      [(ngModel)]="quantity"
      style="width: 100%"
      (input)="emitQuantity()"
      [min]="1"
      [max]="maxQuantity"
    />
    <p-slider
      [(ngModel)]="quantity"
      [min]="1"
      [max]="maxQuantity"
      (onSlideEnd)="emitQuantity()"
    ></p-slider>
  </p-accordionTab>
  <p-accordionTab header="Price">
    <h4>${{ priceValues[0] }} - ${{ priceValues[1] }}</h4>
    <p-slider
      [(ngModel)]="priceValues"
      [range]="true"
      [min]="priceMin"
      [max]="priceMax"
      (onSlideEnd)="emitPrices()"
    ></p-slider>
  </p-accordionTab>
  <p-accordionTab header="Delivery time">
    <p-dropdown
      [options]="deliveryTime"
      optionLabel="name"
      optionValue="value"
      [(ngModel)]="deliveryTimeValue"
      optionLabel="name"
      (onChange)="emitDelivery()"
    ></p-dropdown>
  </p-accordionTab>
  <p-accordionTab header="Reviews">
    <div class="p-field-radiobutton">
      <p-radioButton
        name="review"
        value="0"
        [(ngModel)]="reviewValue"
        (onClick)="emitReview()"
      ></p-radioButton>
      <label for="review1">All</label>
    </div>
    <div class="p-field-radiobutton">
      <p-radioButton
        name="review"
        value="1"
        [(ngModel)]="reviewValue"
        (onClick)="emitReview()"
      ></p-radioButton>
      <label for="review1">1 star</label>
    </div>
    <div class="p-field-radiobutton">
      <p-radioButton
        name="review"
        value="2"
        [(ngModel)]="reviewValue"
        (onClick)="emitReview()"
      ></p-radioButton>
      <label for="review2">2 stars</label>
    </div>
    <div class="p-field-radiobutton">
      <p-radioButton
        name="review"
        value="3"
        [(ngModel)]="reviewValue"
        (onClick)="emitReview()"
      ></p-radioButton>
      <label for="review3">3 stars</label>
    </div>
    <div class="p-field-radiobutton">
      <p-radioButton
        name="review"
        value="4"
        [(ngModel)]="reviewValue"
        (onClick)="emitReview()"
      ></p-radioButton>
      <label for="review4">4 stars</label>
    </div>
    <div class="p-field-radiobutton">
      <p-radioButton
        name="review"
        value="5"
        [(ngModel)]="reviewValue"
        (onClick)="emitReview()"
      ></p-radioButton>
      <label for="review5">5 stars</label>
    </div>
  </p-accordionTab>
</p-accordion>
