<app-spinner *ngIf="isLoading"></app-spinner>
<div class="p-grid p-jc-center" *ngIf="!isLoading">
  <div class="p-col-6 p-pt-5">
    <div class="p-grid">
      <div class="p-col-8">
        <app-product-gallery [images]="product.images"></app-product-gallery>
      </div>
      <div class="p-col p-pl-4">
        <app-product-order [product]="product"></app-product-order>
      </div>
    </div>
    <p-divider></p-divider>
    <div class="p-grid">
      <div class="p-col">
        <app-product-details
          [description]="product.description"
        ></app-product-details>
      </div>
    </div>
    <p-divider></p-divider>
    <div class="p-grid">
      <div class="p-col">
        <app-product-reviews
          (commentLeft)="handleCommentLeft($event)"
          (commentDeleted)="handleCommentDeleted($event)"
          [product]="product"
        ></app-product-reviews>
      </div>
    </div>
  </div>
</div>
<p-toast key="product"></p-toast>
<p-toast key="review" position="bottom-right"></p-toast>
