<form [formGroup]="payForm">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12">
      <label for="class">Card Holder Name</label>
      <input type="text" required pInputText formControlName="name" />
      <small
        *ngIf="name.invalid && (name.touched || name.dirty)"
        class="p-invalid"
        >Field is required.</small
      >
    </div>
    <div class="p-field p-col-8">
      <label id="number" for="lastname">Number</label>
      <p-inputMask
        inputId="number"
        mask="9999-9999-9999-9999"
        formControlName="number"
      ></p-inputMask>
      <small
        *ngIf="number.invalid && (number.touched || number.dirty)"
        class="p-invalid"
        >Field is required.</small
      >
    </div>
    <div class="p-field p-col-2">
      <label id="date" for="date">Date</label>
      <p-inputMask
        inputId="date"
        mask="99/99"
        formControlName="date"
      ></p-inputMask>
      <small
        *ngIf="date.invalid && (date.touched || date.dirty)"
        class="p-invalid"
        >Field is required.</small
      >
    </div>
    <div class="p-field p-col-2">
      <label for="cvv">CVV</label>
      <p-inputMask id="cvv" mask="999" formControlName="cvv"></p-inputMask>
      <small *ngIf="cvv.invalid && (cvv.touched || cvv.dirty)" class="p-invalid"
        >Field is required.</small
      >
    </div>
  </div>
</form>
<div class="p-grid p-mt-1">
  <div class="p-col p-d-flex p-jc-between p-ai-center">
    <button
      class="p-button-raised"
      pButton
      pRipple
      type="button"
      label="Back"
      (click)="onPrev()"
    ></button>
    <button
      class="p-button-raised"
      pButton
      pRipple
      type="button"
      label="Pay"
      [disabled]="!payForm.valid"
      (click)="onNext()"
    ></button>
  </div>
</div>
