<div class="p-grid p-jc-center p-ai-center p-mt-6">
  <div class="p-col-fixed form-wrapper p-mt-6">
    <p-messages
      *ngIf="errorMessage.length > 0"
      [(value)]="errorMessage"
    ></p-messages>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
          <label for="reg-email" class="p-text-secondary">Email:</label>
          <input
            type="email"
            pInputText
            placeholder="ex. john.smith@example.com"
            id="reg-email"
            formControlName="email"
          />
          <small
            *ngIf="email.errors?.required && (email.dirty || email.touched)"
            class="p-invalid"
          >
            Field is required
          </small>
          <small
            *ngIf="email.errors?.email && (email.dirty || email.touched)"
            class="p-invalid"
          >
            Invalid email
          </small>
        </div>
      </div>
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
          <label for="reg-password" class="p-text-secondary">Password</label>
          <input type="password" pInputText formControlName="password" />
          <small
            *ngIf="password.invalid && (password.dirty || password.touched)"
            class="p-invalid"
          >
            Field is required
          </small>
        </div>
      </div>
      <div class="p-grid p-mt-1">
        <div class="p-col p-d-flex p-jc-between p-ai-center">
          <a
            routerLink="/sign-up"
            pButton
            pRipple
            label="Create an account"
            class="p-button-secondary p-button-text no-text-dec"
          ></a>
          <button
            class="p-button-raised p-button-success"
            pButton
            pRipple
            type="submit"
            label="Sign in"
            [disabled]="!loginForm.valid"
          ></button>
        </div>
      </div>
    </form>
  </div>
</div>
