<p-card header="Leave a review">
  <p-rating stars="5" [(ngModel)]="rating"></p-rating>
  <textarea
    pInputTextarea
    [rows]="5"
    [autoResize]="true"
    [(ngModel)]="comment"
  ></textarea>
  <div class="p-d-flex p-jc-end p-mt-3">
    <button
      pButton
      pRipple
      label="Comment"
      (click)="onComment()"
      [disabled]="!rating"
    ></button>
  </div>
</p-card>
