<div class="p-col-12">
  <p-carousel
    [value]="products"
    [numVisible]="3"
    [numScroll]="1"
    [circular]="true"
    [autoplayInterval]="3000"
  >
    <ng-template pTemplate="header">
      <h3>New stickers</h3>
    </ng-template>
    <ng-template let-product pTemplate="product">
      <app-product-card [product]="product"></app-product-card>
    </ng-template>
  </p-carousel>
</div>
