:host
  ::ng-deep
  .p-carousel
  .p-carousel-indicators
  .p-carousel-indicator.p-highlight
  button {
  background-color: var(--primary-color) !important;
}
:host ::ng-deep img {
  width: auto;
  height: 200px;
  object-fit: contain;
}
