<div class="p-grid p-jc-center p-ai-center">
  <div class="p-col-fixed form-wrapper p-mt-5">
    <p-messages
      *ngIf="errorMessage.length > 0"
      [(value)]="errorMessage"
    ></p-messages>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit($event)">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-6">
          <label for="first-name" class="p-text-secondary">First name:</label>
          <input
            type="text"
            id="first-name"
            pInputText
            placeholder="ex. John"
            formControlName="firstName"
          />
          <small
            *ngIf="firstName.invalid && (firstName.touched || firstName.dirty)"
            class="p-invalid"
            >Field is required.</small
          >
        </div>
        <div class="p-field p-col-6">
          <label for="last-name" class="p-text-secondary">Last name:</label>
          <input
            type="text"
            id="last-name"
            pInputText
            placeholder="ex. Smith"
            formControlName="lastName"
          />
          <small
            class="p-error"
            *ngIf="
              lastName.errors?.required && (lastName.touched || lastName.dirty)
            "
            >Field is required</small
          >
        </div>
      </div>
      <!--  -->
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
          <label for="phone" class="p-text-secondary">Contact phone:</label>
          <p-inputMask
            id="phone"
            mask="999 999 999 99"
            slotChar=" "
            placeholder="ex. 064 123 123 12"
            formControlName="phone"
          ></p-inputMask>
          <small
            class="p-error"
            *ngIf="phone.invalid && (phone.touched || phone.dirty)"
            >Field is required</small
          >
        </div>
      </div>
      <!--  -->
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-9">
          <label for="street" class="p-text-secondary">Street:</label>
          <input
            type="text"
            pInputText
            placeholder="ex. Street Name"
            id="street"
            formControlName="street"
          />
          <small
            class="p-error"
            *ngIf="street.invalid && (street.touched || street.dirty)"
            >Field is required</small
          >
        </div>
        <div class="p-field p-col-3">
          <label for="street-no" class="p-text-secondary">Street no:</label>
          <input
            type="text"
            pInputText
            placeholder="ex. 2313"
            id="street-no"
            formControlName="streetNo"
          />
          <small
            class="p-error"
            *ngIf="streetNo.invalid && (streetNo.touched || streetNo.dirty)"
            >Field is required</small
          >
        </div>
      </div>
      <!--  -->
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
          <label for="city" class="p-text-secondary">City:</label>
          <p-dropdown
            [options]="cities"
            optionLabel="name"
            [virtualScroll]="true"
            itemSize="5"
            placeholder="Select your city"
            id="city"
            formControlName="city"
          ></p-dropdown>
          <small
            class="p-error"
            *ngIf="city.invalid && (city.touched || city.dirty)"
            >Field is required</small
          >
        </div>
      </div>
      <!--  -->
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
          <label for="reg-email" class="p-text-secondary">Email:</label>
          <input
            type="email"
            pInputText
            placeholder="ex. john.smith@example.com"
            id="reg-email"
            formControlName="email"
          />
          <small
            class="p-error"
            *ngIf="email.errors?.required && (email.touched || email.dirty)"
            >Field is required</small
          >
          <small
            class="p-error"
            *ngIf="email.errors?.email && (email.touched || email.dirty)"
            >Invalid email</small
          >
        </div>
      </div>
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
          <label for="reg-password" class="p-text-secondary">Password</label>
          <input type="password" pPassword formControlName="password" />
          <small class="p-text-secondary"
            >Must be at least 8 characters long</small
          >
        </div>
      </div>
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
          <label for="confirm-password" class="p-text-secondary"
            >Confirm password:</label
          >
          <input
            type="password"
            pInputText
            id="confirm-password"
            formControlName="confirmPassword"
            (keyup)="onConfirmPassword($event.target.value)"
          />
          <small class="p-error" *ngIf="confirmPassword.errors?.isInvalid"
            >Passwords do not match</small
          >
        </div>
      </div>
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
          <label for="fav-prodcs" class="p-text-secondary"
            >Favorite products:</label
          >
          <p-multiSelect
            id="fav-prodcs"
            [options]="products"
            placeholder="Select your favorite products"
            optionLabel="name"
            [filter]="false"
            display="chip"
            formControlName="favoriteProducts"
          ></p-multiSelect>
          <small
            class="p-error"
            *ngIf="
              favoriteProducts.invalid &&
              (favoriteProducts.touched || favoriteProducts.dirty)
            "
            >Field is required</small
          >
        </div>
      </div>
      <div class="p-grid p-mt-1">
        <div class="p-col p-d-flex p-jc-between p-ai-center">
          <a
            routerLink="/sign-in"
            pButton
            pRipple
            label="Sign in"
            class="p-button-secondary p-button-text no-text-dec"
          ></a>
          <button
            class="p-button-raised"
            pButton
            pRipple
            type="submit"
            label="Sign up"
            [disabled]="!registerForm.valid"
          ></button>
        </div>
      </div>
    </form>
  </div>
</div>
