<p-card
  header="{{ userName }}"
  subheader="{{ getDate(review.createdAt) }}"
  *ngIf="!isLoading"
>
  <p-rating
    [ngModel]="review.rating"
    readonly="true"
    stars="5"
    [cancel]="false"
  ></p-rating>
  <div class="p-d-flex p-jc-between">
    <p>
      {{ review.comment }}
    </p>
    <button
      pButton
      pRipple
      class="p-button-text p-button-secondary"
      icon="pi pi-trash"
      *ngIf="isDeletable"
      (click)="onCommentDelete()"
    ></button>
  </div>
</p-card>
