.product-status {
  padding: 0.2rem 0.4rem;
  font-weight: bold;
  font-size: 14px;
}
.status-pending {
  background-color: #ffedd5;
  color: #f97316;
}
.status-delivered {
  background-color: #d1fae5;
  color: #10b981;
}
.status-cancelled {
  background-color: #ffe4e6;
  color: #f43f5e;
}
:host ::ng-deep .p-inputnumber-input {
  width: 70px !important;
}
