<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>

<div class="p-grid p-jc-center">
  <div class="p-col-10">
    <div class="p-grid">
      <div class="p-col">
        <h2>Total orders: {{ orders.length }}</h2>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col">
        <p-table
          [value]="orders"
          rowExpandMode="single"
          dataKey="id"
          [paginator]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [rowsPerPageOptions]="[10, 25, 50]"
        >
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem"></th>
              <th pSortableColumn="id">
                Id <p-sortIcon field="id"></p-sortIcon>
              </th>
              <th pSortableColumn="totalPrice">
                Price <p-sortIcon field="totalPrice"></p-sortIcon>
              </th>
              <th pSortableColumn="status">
                Status <p-sortIcon field="status"></p-sortIcon>
              </th>
              <th pSortableColumn="createdAt">
                Ordered at <p-sortIcon field="createdAt"></p-sortIcon>
              </th>
              <th>Expected in</th>
              <th>Delivery Address</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-order let-expanded="expanded">
            <tr>
              <td>
                <button
                  type="button"
                  pButton
                  pRipple
                  [pRowToggler]="order"
                  class="p-button-text p-button-rounded p-button-plain"
                  [icon]="
                    expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
                  "
                ></button>
              </td>
              <td>{{ order.id }}</td>
              <td>
                {{ order.totalPrice | currency: "USD" }}
              </td>
              <td>
                <span
                  [class]="
                    'product-status status-' +
                    getStatus(order.status).toLowerCase()
                  "
                  >{{ getStatus(order.status) }}</span
                >
              </td>
              <td>
                {{ formatDate(order.createdAt) }}
              </td>
              <td>
                {{ getExpectedDeliveryTime(order.id) }}
                {{ getExpectedDeliveryTime(order.id) === 1 ? "day" : "days" }}
              </td>
              <td>{{ getDeliveryAddress(order.id) }}</td>
              <td>
                <button
                  pButton
                  pRipple
                  class="p-button-danger"
                  *ngIf="order.status !== 'inProgress'"
                  label="Delete"
                  (click)="deleteOrder(order.id)"
                ></button>
                <button
                  *ngIf="order.status === 'inProgress'"
                  pButton
                  pRipple
                  class="p-button-outlined p-button-danger"
                  label="Cancel"
                  (click)="cancelOrder(order.id)"
                ></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="rowexpansion" let-order>
            <tr>
              <td colspan="8">
                <div class="p-p-3">
                  <p-table
                    #dt1
                    [value]="order.products"
                    dataKey="id"
                    [globalFilterFields]="['name']"
                  >
                    <ng-template pTemplate="caption">
                      <div class="p-d-flex">
                        <span class="p-input-icon-left p-ml-auto">
                          <i class="pi pi-search"></i>
                          <input
                            pInputText
                            type="text"
                            (input)="
                              dt1.filterGlobal($event.target.value, 'contains')
                            "
                            placeholder="Search by name"
                          />
                        </span>
                      </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                      <tr>
                        <th pSortableColumn="id">
                          Id <p-sortIcon field="id"></p-sortIcon>
                        </th>
                        <th>Image</th>
                        <th pSortableColumn="name">
                          Name <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="quantity">
                          Quantity <p-sortIcon field="quantity"></p-sortIcon>
                        </th>
                        <th pSortableColumn="price">
                          Price <p-sortIcon field="price"></p-sortIcon>
                        </th>
                        <th>Total</th>
                        <th>Review</th>
                        <th style="width: 4rem"></th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                      <tr>
                        <td>{{ product.firebaseId }}</td>
                        <td>
                          <img
                            [src]="product.images[0].path"
                            [alt]="product.name"
                            width="100"
                            class="p-shadow-4"
                          />
                        </td>

                        <td>{{ product.name }}</td>
                        <td *ngIf="order.status === 'finished'">
                          {{ product.quantity }}
                        </td>
                        <td pEditableColumn *ngIf="order.status !== 'finished'">
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <p-inputNumber
                                [(ngModel)]="product.quantity"
                              ></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{ product.quantity }}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <td>${{ product.price }}</td>
                        <td>${{ product.price * product.quantity }}</td>
                        <td *ngIf="isProductRated(product.firebaseId)">
                          <p-rating
                            [ngModel]="getProductRating(product.firebaseId)"
                            [readonly]="true"
                            [cancel]="false"
                          ></p-rating>
                        </td>
                        <td *ngIf="order.status === 'inProgress'">
                          <p>Order not delivered.</p>
                        </td>
                        <td *ngIf="order.status === 'cancelled'">
                          <p>Order cancelled.</p>
                        </td>
                        <td
                          *ngIf="
                            order.status === 'finished' &&
                            !isProductRated(product.firebaseId)
                          "
                        >
                          <button
                            pButton
                            pRipple
                            label="Rate"
                            icon="pi pi-star-o"
                            class="p-button-text"
                            (click)="goToProduct(product.firebaseId)"
                          ></button>
                        </td>
                        <td>
                          <button
                            pButton
                            pRipple
                            class="p-button-outlined p-button-info"
                            icon="pi pi-search"
                            (click)="goToProduct(product.firebaseId)"
                          ></button>
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="6">
                          There are no order for this product yet.
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
