<div class="p-d-flex p-ai-center p-jc-between">
  <p class="p-ml-3 p-my-0">Deliver to address that's on my profile</p>
  <p-inputSwitch
    [(ngModel)]="isDeliveredToProfileAddress"
    (onChange)="handleChange($event)"
  ></p-inputSwitch>
</div>
<p-divider align="center" styleClass="p-my-5">
  <span>OR</span>
</p-divider>
<form [formGroup]="purchaseForm">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-6">
      <label for="first-name" class="p-text-secondary">First name:</label>
      <input
        type="text"
        id="first-name"
        pInputText
        placeholder="ex. John"
        formControlName="firstName"
      />
      <small
        *ngIf="firstName.invalid && (firstName.touched || firstName.dirty)"
        class="p-invalid"
        >Field is required.</small
      >
    </div>
    <div class="p-field p-col-6">
      <label for="last-name" class="p-text-secondary">Last name:</label>
      <input
        type="text"
        id="last-name"
        pInputText
        placeholder="ex. Smith"
        formControlName="lastName"
      />
      <small
        *ngIf="lastName.invalid && (lastName.touched || lastName.dirty)"
        class="p-invalid"
        >Field is required.</small
      >
    </div>
  </div>
  <!--  -->
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col">
      <label for="phone" class="p-text-secondary">Contact phone:</label>
      <p-inputMask
        id="phone"
        mask="999 999 999 99"
        slotChar=" "
        placeholder="ex. 064 123 123 12"
        formControlName="phone"
      ></p-inputMask>
      <small
        *ngIf="phone.invalid && (phone.touched || phone.dirty)"
        class="p-invalid"
        >Field is required.</small
      >
    </div>
  </div>
  <!--  -->
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-9">
      <label for="street" class="p-text-secondary">Street:</label>
      <input
        type="text"
        pInputText
        placeholder="ex. Street Name"
        id="street"
        formControlName="street"
      />
      <small
        *ngIf="street.invalid && (street.touched || street.dirty)"
        class="p-invalid"
        >Field is required.</small
      >
    </div>
    <div class="p-field p-col-3">
      <label for="street-no" class="p-text-secondary">Street no:</label>
      <input
        type="text"
        pInputText
        placeholder="ex. 2313"
        id="street-no"
        formControlName="streetNo"
      />
      <small
        *ngIf="streetNo.invalid && (streetNo.touched || streetNo.dirty)"
        class="p-invalid"
        >Field is required.</small
      >
    </div>
  </div>
  <!--  -->
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col">
      <label for="city" class="p-text-secondary">City:</label>
      <p-dropdown
        [options]="cities"
        optionLabel="name"
        [virtualScroll]="true"
        itemSize="5"
        placeholder="Select your city"
        id="city"
        formControlName="city"
      ></p-dropdown>
      <small
        *ngIf="city.invalid && (city.touched || city.dirty)"
        class="p-invalid"
        >Field is required.</small
      >
    </div>
  </div>
  <!--  -->
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col">
      <label for="reg-email" class="p-text-secondary">Email:</label>
      <input
        type="email"
        pInputText
        placeholder="ex. john.smith@example.com"
        id="reg-email"
        formControlName="email"
      />
      <small
        *ngIf="email.errors?.required && (email.touched || email.dirty)"
        class="p-invalid"
        >Field is required.</small
      >
      <small
        *ngIf="email.errors?.email && (email.touched || email.dirty)"
        class="p-invalid"
        >Email is not valid.</small
      >
    </div>
  </div>
</form>
<div class="p-grid p-mt-1">
  <div class="p-col p-d-flex p-jc-end p-ai-center">
    <button
      class="p-button-raised"
      pButton
      pRipple
      type="button"
      label="Next"
      [disabled]="!purchaseForm.valid && isDeliveredToProfileAddress === false"
      (click)="onNext()"
    ></button>
  </div>
</div>
