<app-spinner *ngIf="isLoading"></app-spinner>
<div *ngIf="!isLoading">
  <div class="p-grid">
    <p-toast position="top-center"></p-toast>
    <div class="p-col">
      <app-search (searchFilter)="handleSearch($event)"></app-search>
    </div>
  </div>
  <div class="p-grid">
    <app-home-filters
      (categoryFilter)="handleCategory($event)"
      (sizeFilter)="handleSize($event)"
      (quantityFilter)="handleQuantity($event)"
      (priceFilter)="handlePrice($event)"
      (deliveryFilter)="handleDelivery($event)"
      (reviewFilter)="handleReview($event)"
      class="p-col-2"
    ></app-home-filters>

    <div class="p-col-10" *ngIf="products.length > 0">
      <app-home-new-products class="p-grid"></app-home-new-products>
      <app-home-products
        [products]="products"
        class="p-grid"
      ></app-home-products>
    </div>
    <div class="p-col-10 p-d-flex p-jc-center" *ngIf="products.length === 0">
      <h2>We couldn't find any products that match.</h2>
    </div>
  </div>
</div>
