<div class="p-grid p-jc-center p-mb-5">
  <div class="p-col-10">
    <p-steps [model]="items" styleClass="p-mt-5"></p-steps>
  </div>
</div>
<div class="p-grid p-jc-center">
  <div class="p-col-3">
    <router-outlet></router-outlet>
  </div>
</div>
