<div class="p-col">
  <h3>We Recommend</h3>
  <div class="p-grid">
    <app-product-card
      class="p-col-4"
      *ngFor="let product of products"
      [product]="product"
    ></app-product-card>
  </div>
</div>
