<p-galleria
  [value]="images"
  [numVisible]="5"
  [showItemNavigators]="true"
  [showIndicators]="true"
  [showThumbnails]="false"
  [circular]="true"
>
  <ng-template pTemplate="item" let-item>
    <img [src]="item.path" style="width: 100%; height: 360px" />
  </ng-template>
</p-galleria>
