:host
  ::ng-deep
  .p-galleria
  .p-galleria-indicators
  .p-galleria-indicator.p-highlight
  button {
  background: var(--primary-color);
}
:host ::ng-deep .p-galleria-item-prev-icon {
  color: red;
}
:host ::ng-deep .p-galleria-item-next-icon {
  color: red;
}
img {
  object-fit: contain;
}
