:host ::ng-deep .p-menu {
  margin-top: 0.4rem;
}
#cart-wrapper {
  position: relative;
}

:host ::ng-deep .p-badge {
  position: absolute;
  top: 5px;
  right: 0;
  z-index: 10;
}
#nav {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
}
