<div class="p-grid border-b p-ai-center" id="nav">
  <div class="p-col-10">
    <a
      pButton
      label="REDBUBBLE"
      class="p-mr-2 p-button-text p-button-danger no-text-dec"
      routerLink="/"
    ></a>
  </div>
  <div class="p-col p-d-flex p-ai-center p-jc-end" id="cart-wrapper">
    <p-badge *ngIf="cartItems" [value]="cartItems" severity="info"></p-badge>
    <a
      routerLink="/my-cart"
      pButton
      pRipple
      icon="pi pi-shopping-cart"
      class="p-button-rounded p-button-text p-button-secondary p-button-lg no-text-dec"
    ></a>
  </div>
  <div *ngIf="!isSignedIn" class="p-col p-d-flex p-jc-end">
    <a
      pButton
      label="Login"
      class="p-mr-2 p-button-info no-text-dec"
      routerLink="/sign-in"
    ></a>
    <a
      pButton
      label="Signup"
      class="p-mr-2 p-button-text p-button-secondary no-text-dec"
      routerLink="/sign-up"
    ></a>
  </div>
  <div *ngIf="isSignedIn" class="p-col p-d-flex p-jc-center">
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-user"
      class="p-button-rounded p-button-info p-button-outlined"
      (click)="menu.toggle($event)"
    ></button>
    <p-menu [model]="items" [popup]="true" #menu></p-menu>
  </div>
</div>
