<form [formGroup]="profileForm">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col">
      <label for="firstname1">Firstname</label>
      <input
        id="firstname1"
        type="text"
        pInputText
        formControlName="firstName"
      />
    </div>
    <div class="p-field p-col">
      <label for="lastname1">Lastname</label>
      <input id="lastname1" type="text" pInputText formControlName="lastName" />
    </div>
  </div>
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col">
      <label for="firstname1">Phone</label>
      <input type="text" pInputText formControlName="phone" />
    </div>
  </div>
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col">
      <label for="firstname1">City</label>
      <p-dropdown
        [options]="cities"
        optionLabel="name"
        [virtualScroll]="true"
        itemSize="5"
        formControlName="city"
      ></p-dropdown>
    </div>
  </div>
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col">
      <label for="firstname1">Street</label>
      <input id="firstname1" type="text" pInputText formControlName="street" />
    </div>
    <div class="p-field p-col">
      <label for="firstname1">Street number</label>
      <input
        id="firstname1"
        type="text"
        pInputText
        formControlName="streetNum"
      />
    </div>
  </div>
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col">
      <label for="firstname1">Favorite products</label>
      <p-multiSelect
        [options]="products"
        optionLabel="name"
        [filter]="false"
        display="chip"
        formControlName="favProducts"
      ></p-multiSelect>
    </div>
  </div>
  <div class="p-jc-end p-d-flex">
    <button
      pButton
      pRipple
      label="Update"
      [disabled]="profileForm.invalid"
      (click)="onUpdate()"
    ></button>
  </div>
</form>
