<div class="p-grid">
  <div class="p-col p-text-center">
    <h1>Thank you for the purchase.</h1>
    <h2>We are processing the order.</h2>
    <button
      (click)="goToHome()"
      pButton
      pRipple
      label="Go back to home page"
    ></button>
  </div>
</div>
