<div class="p-grid" *ngIf="!isLoading">
  <div class="p-col-4" *ngIf="!hasReviews">
    <h4>This product doesn't have any reviews.</h4>
  </div>
  <div class="p-col-4 p-flex-column" *ngIf="hasReviews">
    <h3>Average stars {{ averageReviews }}</h3>
    <div class="p-grid">
      <div class="p-col-3">
        <span>1 star</span>
      </div>
      <div class="p-col">
        <p-progressBar
          [value]="getStarCount(1) * 10"
          [showValue]="false"
        ></p-progressBar>
      </div>
      <div class="p-col-1">
        <span>{{ getStarCount(1) }}</span>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-3">
        <span>2 stars</span>
      </div>
      <div class="p-col">
        <p-progressBar
          [value]="getStarCount(2) * 10"
          [showValue]="false"
        ></p-progressBar>
      </div>
      <div class="p-col-1">
        <span>{{ getStarCount(2) }}</span>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-3">
        <span>3 stars</span>
      </div>
      <div class="p-col">
        <p-progressBar
          [value]="getStarCount(3) * 10"
          [showValue]="false"
        ></p-progressBar>
      </div>
      <div class="p-col-1">
        <span>{{ getStarCount(3) }}</span>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-3">
        <span>4 stars</span>
      </div>
      <div class="p-col">
        <p-progressBar
          [value]="getStarCount(4) * 10"
          [showValue]="false"
        ></p-progressBar>
      </div>
      <div class="p-col-1">
        <span>{{ getStarCount(4) }}</span>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-3">
        <span>5 stars</span>
      </div>
      <div class="p-col">
        <p-progressBar
          [value]="getStarCount(5) * 10"
          [showValue]="false"
        ></p-progressBar>
      </div>
      <div class="p-col-1">
        <span>{{ getStarCount(5) }}</span>
      </div>
    </div>
  </div>
  <!-- comments -->
  <div class="p-col p-p-5">
    <div class="p-grid">
      <div class="p-col">
        <app-leave-review
          (commentLeft)="handleCommentLeft($event)"
          [product]="product"
          *ngIf="isProductPurchased && !hasReviewed"
        ></app-leave-review>
        <app-review
          [review]="userReview"
          *ngIf="hasReviewed"
          [isDeletable]="true"
          (deleteComment)="emitCommentDelete($event)"
        ></app-review>
      </div>
    </div>
    <div class="p-grid" *ngFor="let review of product.reviews">
      <div class="p-col">
        <app-review
          *ngIf="review.customerId !== currentUserId"
          [review]="review"
        ></app-review>
      </div>
    </div>
  </div>
</div>
<p-scrollTop></p-scrollTop>
