<div class="p-grid p-jc-center">
  <div class="p-col-6 p-py-5" *ngIf="isEmpty">
    <div>
      <h2>Your shopping cart is empty. Give it a purpose and fill it up.</h2>
      <a
        routerLink="/"
        pButton
        pRipple
        class="p-button-help no-text-dec"
        label="Click here to browse products"
      ></a>
    </div>
  </div>
  <div class="p-col-6 p-py-5" *ngIf="!isEmpty">
    <div class="p-grid p-jc-center">
      <div class="p-col p-pb-0">
        <h3>
          Your shopping cart has {{ products.length }}
          {{ products.length === 1 ? "item" : "items" }}
        </h3>
      </div>
      <div class="p-col-1 p-pb-0">
        <h5>Price</h5>
      </div>
      <div class="p-col-3 p-d-flex p-jc-end p-pb-0">
        <h5>Quantity</h5>
      </div>
    </div>
    <p-divider></p-divider>
    <app-cart-item
      *ngFor="let product of products"
      [product]="product"
    ></app-cart-item>
    <p-divider></p-divider>
    <div class="p-d-flex p-flex-column">
      <div class="p-d-flex p-jc-between">
        <h2>Total:</h2>
        <h1>${{ cart.totalPrice }}</h1>
      </div>
      <div class="p-d-flex p-jc-end">
        <button
          pButton
          pRipple
          class="p-button-primary"
          label="Purchase"
          (click)="onPurchase()"
        ></button>
      </div>
    </div>
  </div>
</div>
