<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Shop</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <style>
      df-messenger {
        --df-messenger-button-titlebar-color: #ef4444;
      }
    </style>
  </head>
  <body>
    <app-root></app-root>
  </body>

  <df-messenger
    user-id="{{userId}}"
    intent="WELCOME"
    chat-title="Glados"
    agent-id="5108d680-bd9b-4af1-abaf-a98a0a8443e6"
    language-code="en"
    chat-icon="/assets/bot.png"
  ></df-messenger>
  <script>
    setInterval(() => {
      const storedUser = localStorage.getItem("user");
      if (storedUser !== undefined) {
        const user = JSON.parse(storedUser);
        if (user !== null) {
          document
            .querySelector("df-messenger")
            .setAttribute("user-id", user.uid);
        } else {
          document.querySelector("df-messenger").removeAttribute("user-id");
        }
      }
    }, 2000);
  </script>
  <footer>
    <div class="p-d-flex p-jc-center">
      <p>Bojan Vujanović &copy; 2020/2021</p>
    </div>
  </footer>
</html>
