/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/primeicons/primeicons.css");
@import url("../node_modules/primeng/resources/themes/saga-blue/theme.css");
@import url("../node_modules/primeng/resources/primeng.min.css");
@import url("../node_modules/primeflex/primeflex.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");

:root {
  --page-height: calc(100vh - 54px);
}

html,
body {
  min-height: 100%;
}
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

.h-full-p {
  height: 100%;
}
.vh-full {
  min-height: var(--page-height);
}

.bg-cool {
  background-color: #f8f9fa;
}

.bg-test {
  background-color: #f3f4f6;
}

.w-100 {
  width: 100% !important;
}

.border-b {
  border-bottom: 1px solid #e5e5e5;
}

.no-text-dec {
  text-decoration: none !important;
}

.border-danger {
  border: 1px solid #cc3333 !important;
}

.p-menuitem:nth-last-child(2) {
  margin-left: auto;
}

p-menubarsub {
  width: 100%;
}

.bd {
  border: 1px solid red;
}
.m-0 {
  margin: 0;
}
