<app-spinner *ngIf="isLoading"></app-spinner>
<div class="p-grid p-jc-center p-mt-5" *ngIf="!isLoading">
  <div class="p-col-4 profile-wrapper">
    <div class="p-d-flex p-jc-between p-ai-center">
      <h1>{{ firstName }} {{ lastName }}</h1>
      <button pButton pRipple label="Edit" (click)="onEdit()"></button>
    </div>
    <div class="p-d-flex p-jc-between p-ai-center p-px-4">
      <h3>Email: {{ email }}</h3>
      <h3>Phone: {{ phone }}</h3>
    </div>
    <div class="p-d-flex p-jc-between">
      <div>
        <h2>Address</h2>
        <div class="p-px-4">
          <h3>City: {{ city }}</h3>
          <h3>Street: {{ street }}</h3>
          <h3>Street number: {{ streetNumber }}</h3>
        </div>
      </div>
      <div>
        <h2>Favorite products</h2>
        <h3 class="p-ml-4" *ngFor="let product of favoriteProducts">
          <i class="pi pi-{{ getProductIcon(product.name) }}"></i>
          {{ product.name }}
        </h3>
      </div>
    </div>
  </div>
</div>
<p-dialog
  [(visible)]="isEditProfile"
  *ngIf="isEditProfile"
  header="Edit profile"
>
  <app-edit-profile
    (onProfileUpdate)="onUpdate($event)"
    [user]="user"
  ></app-edit-profile>
</p-dialog>
