<div class="p-grid p-flex-column">
  <div class="p-col">
    <a
      class="no-text-dec product-cat"
      target="_blank"
      rel="noopener noreferrer"
      routerLink="/"
      >{{ product.category }}</a
    >
    <p-tag
      styleClass="p-ml-2"
      value="{{ product.size }} inch"
      severity="info"
    ></p-tag>
    <h1 class="p-my-0">{{ product.name }}</h1>
    <p class="p-mt-0">
      Sold by {{ product.seller.name }} from {{ product.seller.location }}
    </p>
    <small>Made in {{ product.originCountry }}</small>
    <h4>
      Expected delivery in {{ product.deliveryDays }}
      {{ product.deliveryDays === 1 ? "day" : "days" }}
    </h4>
  </div>
</div>
<div class="p-grid" *ngIf="product.stock">
  <div class="p-col">
    <div class="p-grid p-mt-5">
      <h1>${{ price }}</h1>
    </div>
    <div class="p-grid">
      <p-inputNumber
        [(ngModel)]="quantity"
        [min]="1"
        [max]="product.stock"
        showButtons="true"
        buttonLayout="horizontal"
        incrementButtonIcon="pi pi-plus"
        incrementButtonClass="p-button-text"
        decrementButtonIcon="pi pi-minus"
        decrementButtonClass="p-button-text"
      ></p-inputNumber>
    </div>
    <div class="p-grid p-mt-4">
      <button
        pButton
        pRipple
        icon="pi pi-shopping-cart"
        class="p-button-rounded p-button-info p-button-lg"
        label="Add to cart"
        (click)="onAddToCart()"
      ></button>
    </div>
  </div>
</div>
<div class="p-grid" *ngIf="!product.stock">
  <div class="p-col">
    <h3>Out of stock</h3>
  </div>
</div>
