<div class="product-item">
  <div class="product-item-content">
    <div class="p-d-flex p-jc-between p-mb-3 p-px-5">
      <span class="product-item-cat p-d-flex p-ai-center"
        ><i class="pi pi-tags p-mr-2"></i> {{ product.category }}</span
      >
      <span class="product-item-size">{{ product.size }} inch</span>
    </div>
    <div class="p-mb-3">
      <img src="{{ product.images[0].path }}" class="product-image" />
    </div>
    <div>
      <h3 class="p-mb-3 product-item-name">{{ product.name }}</h3>
      <p-rating
        [ngModel]="rating"
        [cancel]="false"
        [readonly]="true"
      ></p-rating>
      <div class="p-mt-5 p-d-flex p-jc-between p-px-5">
        <h2 class="p-mt-0 p-mb-3 product-item-price">${{ product.price }}</h2>
        <div>
          <a
            pButton
            pRipple
            icon="pi pi-search"
            class="p-mr-2 no-text-dec p-button-info p-button-rounded p-button-outlined"
            target="__blank"
            rel="noopener noreferrer"
            [routerLink]="['/product', product.firebaseId]"
          ></a>
          <p-button
            type="button"
            styleClass="p-button-success p-button-outlined p-button-rounded"
            icon="pi pi-shopping-cart"
            (click)="addToCart()"
          ></p-button>
        </div>
      </div>
    </div>
  </div>
</div>
