.product-item .product-item-content {
  border: 1px solid var(--surface-d);
  border-radius: 3px;
  margin: 0.3rem;
  text-align: center;
  padding: 1.5rem 0;
  background: #fff;
}
.product-item .product-image {
  width: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.product-item-cat {
  text-transform: uppercase;
  background-color: #ccfbf1;
  color: #14b8a6;
  font-size: 14px;
  font-weight: bold;
  padding: 0.1rem 0.3rem;
}
.product-item-size {
  background-color: #f3f4f6;
  color: #6b7280;
  font-size: 14px;
  font-weight: bold;
  padding: 0.1rem 0.3rem;
}

.product-item-name {
  text-transform: capitalize;
}
.product-item-price {
  font-weight: 500;
}
:host ::ng-deep img {
  width: auto;
  height: 200px;
  object-fit: contain;
}
